<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rico.customerview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.example.rico.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <meta-data
            android:name="CHANNEL_NAME"
            android:value="${CHANNEL_VALUE}" />

        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CornerImageActivity" />
        <activity android:name=".activity.TextMoveActivity" />
        <activity android:name=".activity.DrawBitmapActivity" />
        <activity android:name=".activity.RadarActivity" />
        <activity android:name=".activity.AllViewActivity" />
        <activity android:name=".activity.FlowActivity" />
        <activity android:name=".activity.CircleLayoutActivity" />
        <activity android:name=".activity.FishSwimActivity" />
        <activity android:name=".activity.MatrixActivity" />
        <activity android:name=".activity.RotateActivity" />
        <activity android:name=".activity.BezierMoveActivity" />
        <activity android:name=".activity.SideDeleteActivity" />
        <activity android:name=".activity.RevealActivity" />
        <activity android:name=".activity.FlipBoardActivity" />
        <activity android:name=".activity.AnimatorSwitchActivity" />
        <activity android:name=".activity.WaterfallsFlowActivity" />
        <activity android:name=".activity.BannerLayoutActivity" />
        <activity android:name=".activity.CardLayoutActivity" />
        <activity android:name=".activity.PuzzleActivity" />
        <activity android:name=".activity.BannerExchangeActivity" />
        <activity android:name=".activity.CurveActivity" />
        <activity android:name=".activity.ListLinkageActivity" />
        <activity android:name=".activity.PictureViewerActivity" />
        <activity android:name=".activity.PictureCtrlActivity" />
        <activity android:name=".activity.ScrollSignActivity" />
        <activity android:name=".activity.JumpLoadActivity" />
        <activity android:name=".activity.JumpLoadActivity2" />
        <activity android:name=".activity.JumpLoadActivity3" />
        <activity android:name=".activity.LoadingActivity" />
        <activity android:name=".activity.ShadowActivity" />
        <activity android:name=".activity.ChangeChildViewActivity" />
        <activity
            android:name=".activity.PictureDetailActivity"
            android:theme="@style/PicTheme" />
    </application>

</manifest>